.stButton{
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
    
.stAlert{
    font-size: large;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.stMarkdown{
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.reportview-container {
        background: url("https://www.istockphoto.com/photo/document-with-name-predictive-analytics-in-an-office-gm843241566-137723813")
    }
.sidebar .sidebar-content {
        background: url("https://www.istockphoto.com/photo/document-with-name-predictive-analytics-in-an-office-gm843241566-137723813")
    }